html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #002C38;
  --tertiary-color: #000000;
  --main-font-color: #002C38;
  --normal-font-color: #000000;
  --input-color: #ffffff;
  --input-focus-color: #d9ed92;
  --animation-color: #b2de02;
}

.dark-theme {
  --primary-shadow: 0px 4px 8px #284b63;
  --primary-color: #246a73;
  --secondary-color: #edeec9;
  --tertiary-color: #fff;
  --main-font-color: #edeec9;
  --normal-font-color: #f3dfc1;
  --input-color: #fff;
  --input-focus-color: #d9ed92;
  --animation-color: #b2de02;
}

body {
  background-color: var(--primary-color);
}

header {
  padding: 0 20px;
  background-color: var(--primary-color);
  height: 50px;
  display: flex;
  justify-content: space-around;
}

/* Navigation Styles */
#thawzin-custom {
  display: flex;
  align-items: center;
}

#thawzin-custom a {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Comfortaa", cursive;
  color: var(--normal-font-color);
  text-decoration: none;
}

.nav-pills {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
}

.nav-item {
  padding: 15px;
}

.nav-link {
  color: var(--normal-font-color);
  font-size: 1.2rem;
}

.nav-link:hover {
  color: var(--normal-font-color);
  text-decoration: underline;
  text-decoration-color: var(--normal-font-color);
  text-underline-offset: 0.8rem;
}
/* Hamburger Menu Styles */
#hamburger-icon {
  margin-right: 2rem;
  margin-top: 0.4rem;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 25px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 { opacity: 0; }

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--primary-color);
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.mobile-menu li {
  list-style: none;
  margin-bottom: 15px;
  margin-right: 1.5rem;
}

.mobile-menu li a { text-decoration: none; }

/* Footer Styles */
.foot-nav-link {
  color: var(--normal-font-color);
  font-size: 1rem;
}

.footer-nav-link:hover {
  color: var(--normal-font-color);
  text-decoration: underline;
  text-decoration-color: var(--normal-font-color);
  text-underline-offset: 0.8rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  height: 100px;
}

.footer-icon {
  cursor: pointer;
  height: 1.5rem;
  margin: 0.4rem;
}

/* Section Styles */
.thawzin-img-size {
  width: 250px;
  height: auto;
  object-fit: cover;
  box-shadow: var(--primary-shadow);
}

.home-section { height: 80vh; }

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  max-width: 100%;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.about-me-image {
  width: 100%;
  max-width: 30rem;
}

.graduation-image {
  height: 240px;
  width: 380px;
  margin-bottom: 20px;
  
  border-radius: 2rem;
}

.content-about-me-section {
  width: 100%;
  max-width: 30rem;
  padding: 2.5rem;
  border-radius: 2rem;
  box-shadow: var(--primary-shadow);
}

.content-text {
  line-height: 1.5;
  padding: 0.3rem 0;
}

.more-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-bottom: 5rem;
  gap: 2rem; 
}

.details-container {
  padding: 1rem;
  align-items: center;
  flex: 1;
  background: var(--primary-color);
  border-radius: 2rem;
  border: var(--secondary-color) 0.1rem solid;
  margin: 1rem;
  text-align: center;
  height: 100%;
  box-shadow: var(--primary-shadow);
}
.socials-container{
  margin-top: 1rem;
}
.socials-container a{
  text-decoration: none;
}
.skillset {
  margin-top: 5rem;
  margin-bottom: 8rem;
}
.skillset-title {
  color: var(--normal-font-color);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.sd-article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}
.ht-article {
  display: flex;
  width: 15rem;
  justify-content: space-around;
  gap: 0.5rem;
}
.sd-article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 2rem;
}
.custom-details-container {
  align-items: center;
  flex: 1;
  background: var(--primary-color);
  border-radius: 2rem;
  position: relative;
  margin: 1rem;
  text-align: center;
  height: 100%;
  box-shadow: var(--primary-shadow);
}
.coming-soon-image {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

.contact-me {
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.contact-me-container {
  padding: 2rem;
  background: var(--secondary-color);
  border-radius: 2rem;
  border: 0.1rem solid;
  margin: 0.5rem;
  text-align: center;
  height: 100%;
  box-shadow: var(--primary-shadow);
}
.contact__input {
  background: var(--input-color); 
  border: 1px solid #ccc; 
  border-radius: 0.5rem;
  padding: 0.5rem; 
  transition: background 0.3s ease-in-out; 
}
.contact__input:focus {
  background: var(--input-focus-color); 
  border-color: white; 
}
.form-group {
  margin-bottom: 1.5rem;
}

/* Button */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn {
  font-weight: 500;
  transition: width 0.3s ease, border-color 0.3s ease;
  padding: 0.8rem;
  width: 10rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: var(--secondary-color) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1:hover,
.btn-color-2 {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn-color-2:hover {
  background: var(--tertiary-color);
}
.btn-color-1,
.btn-color-2 {
  border: var(--tertiary-color) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1:hover,
.btn-color-2 {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn-color-2:hover {
  background: var(--tertiary-color);
}

.btn-color-1 {
  background: none;
}

.btn-color-1:hover {
  border: var(--primary-color) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}
.btn-3 {
  font-weight: 500;
  transition: width 0.3s ease, border-color 0.3s ease; 
  padding: 0.8rem;
  width: 10rem;
  border: 1px solid var(--tertiary-color); 
  border-radius: 2rem;
  background-color: var(--primary-color); 
  color: var(--tertiary-color); 
}

.btn-3:hover {
  cursor: pointer;
  width: 12rem; 
  background-color: var(--primary-color); 
}
/* Icon */

.ld-mode-icon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.8rem;
  margin-left:0.8rem;
}
.social-icon {
  cursor: pointer;
  height: 2.5rem;
  margin: 0.4rem;
}
.footer-icon {
  cursor: pointer;
  height: 1.5rem;
  margin: 0.4rem;
}

.more-about-me-icon {
  height: 4rem;
  margin: 0.4rem;
}

.skillset-icon {
  cursor: default;
  height: 3.5rem;
  margin: 0.4rem;
}
.skillset-icon:hover {
  cursor: default;
  height: 4rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px; 
  height: 100px; 
}
/* Text */

.custom-text-h3 {
  margin-top: 20rem;
  color: var(--normal-font-color)
}
.custom-text-h4 {
  color: var(--normal-font-color);
}
.normal-text{
  color: var(--normal-font-color);
  /* font-size: 1rem; */
}

.auto-text-1,
.auto-text-2 {
  color: var(--animation-color);
}
.text-main-custom {
  color: var(--normal-font-color);
}

/* Scroll up Button */
#sp-btn-container {
  cursor: pointer;
  background-color: var(--secondary-color);
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 60px;
  width: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
#sp-btn{
  display: block;
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: var(--normal-font-color)
}

.scroll-animation {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: scrollAnimation 3s ease infinite;
}

.scroll-animation i {
  font-size: 24px;
}

@keyframes scrollAnimation {
  0%, 100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -40%); 
    opacity: 0.1;
  }
}
@media only screen and (max-width:1000px) {
  #thawzin-custom a, .nav-link{
    font-size: 1rem;
  }
  .graduation-image{
    height: 200px;
    width: 340px;
  }
}
@media only screen and (max-width: 770px) {
  .nav-pills {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
  
  .thawzin-img-size{
    width: 190px;
    height: auto;
  }

  .normal-text{
    font-size: 1rem;
  }
  .graduation-image{
    height: 200px;
    width: 300px;
  }
  .col-md-6 {
    margin-bottom: 30px;
  }

  .col-md-6:last-child {
    margin-bottom: 0;
  }

}